.animal-show {
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: 0 3px 4px light;

}
.animal {
    height: 200px;
}

.heart {
    position: absolute;
    right: 10%; 
    bottom: 10%;
}